/* Adicionando arquivo de fonte local */
@font-face {
  font-family: Honey Bear;
  src: url(../fonts/Honey-Bear.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
#container {
  background-color: #1860f366;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:600px;
  height:600px;
  font-family:'Calibri','Arial' sans-serif;


}
#lista{
  color: blue;
  font-family: 'Arial';
  text-decoration: underline;
  text-decoration-style: dotted;
}

nav{
  background-color: #1b1a1a;
  padding: 0.02% 0 0.02% 0;
  border-radius: 15px;

}
#menu-vert li{
  display: inline;
  padding: 0 5% 0 6%;
}
#menu-vert li a{
  text-decoration: none;
  font-family: "tahoma", serif;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.5s, font-size 0.5s;
  padding: 1.445% 2% 1.4% 2%;
}

/* PSEUDO CLASSES */
#menu-vert li a:VISITED{
  color: white;
}
#menu-vert li a:LINK{
  color: white;
}
#menu-vert li a:HOVER{
  color: blue;
  font-size: 19px;
  background-color: white;
}
/* classes */
.tit-pag-init{
  position: relative;
  text-align: center;
  font-family: 'Honey Bear', cursive;
}
.img-logo-init{

  width: 5%;


}
.img-container{
  position: absolute;
  top: 13%;
}
