@font-face {
  font-family: Honey Bear;
  scr: local(Honey Bear), url(../fontes/Honey-Bear.ttf);

}
@font-face {
  font-family: college;
  scr: local(college), url(../fontes/college.ttf);

}

@import url("<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">");

#container{
  background-color: #0;
  margin-left: 20%;
  margin-right: 20%;
  height: 600px;
  font-family: 'Calibri', 'Arial',sans-serif;
  text-align: center;
}


nav{
  background-color: #1b1a1a;
  padding:0.02% 0 0.02% 0;
  border-radius: 20px;
}

#menu-vert li{
  display: inline;
  padding: 0 4% 0 4%;
}

#menu-vert li a{
  text-decoration: none;
  font-family: "Tahoma", serif;
  color: #0fffff;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 2s;
  font-size: 20px;
  padding: 2%;

}
#menu-vert li a:VISITED{
  color:#fff;
}

#menu-vert li a:LINK{
  color:#fff;
}

#menu-vert li a:HOVER{
    color:#1b1a1a;
    background-color:#fff;
}

.tit-pag-init{
  position: relative;
  color: #f75c09;
  transition: color 2s;
  text-align: center;
  font-family: "Honey Bear", serif;

}

.img_logo{
  width: 20%;
}

.img_container{
  position:relative;
  top: 10%;
}
